:root {
  --font-family: "Lexend Deca", sans-serif;
  --second-family: "Arvo", sans-serif;
  --BgColor: #020617;
  --ContrastColor: #eab308;
  --DarkBgcolor: #111827;
  --WhiteColor: #f3f4f6;
  --Txtcolor: #6b7280;
  --VarColor: #d1d5db;
}
