.main {
  &__img {
  }

  &__box {
    display: flex;
    gap: 89rem;
  }
}
.container {
}
.title {
}
.desc {
}
.btn {
}
.main {
  &__box {
    display: flex;
    gap: 89rem;
  }

  &__img {
    margin: 98rem 0rem;
  }

  &__about {
    margin: 178rem 0rem;
  }
}
.container {
}
.title {
}
.desc {
}
.btn {
}
